# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.sqlite3

# IDEs
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Documentação interna
docs/INTERNAL_API_SECURITY.md
